h2 {
    background-color: #475770;
    padding: 12px 0;
    font-family: 'PT Serif', serif;
    text-align: center;
    color: white;
}

h3 {
    font-size: 30px;
    font-family: 'PT Serif', serif;
}

.container {
    position: relative;
}

#city-input {
    border: solid black;
    border-radius: 3px;
}

button {
    color: white;
    background-color: #1a68a3;
    border-radius: 8px;
}

.card-body {
    font-size: 20x;
}

/* Search History Card */ 
.card1 {
    width: 20%;
    border: 3px solid Black;
    padding: 50px;
    margin: 20px;
}

 /* Current Weather Card */
.card2 {
    width: 20%;
    border: 3px solid Black;
    padding: 50px;
    margin: 20px;
}

 /* 5 Day Forecast Card */
.card3 {
    width: 97%;
    border: 3px solid black;
    padding: 50px;
    margin: 20px;
}